html,
body {
    padding: 0;
    margin: 0;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

textarea {
    display: grid;
    flex-direction: row;
    width: 100%;
    margin-right: 0em;
    font-family: monospace;
}

button {
    border: 1px solid #eee;
    border-radius: 0.4em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.widget {
    background-color: white;
    border: 0px solid pink;
    padding: 1em 1em 1em 1em;
    border-radius: 0.3em;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
}

.widget > h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.summary {
    position: fixed;
    right: 1em;
    top: 1em;
}

.close {
    background-color: black;
    color: white;
}

.grid-container, #app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    color: white;
    background-color: black;
}

.scroll {
    overflow-y: scroll;
}

.comfort {
    padding: 1em;
}

.pad-left {
    padding-left: 1em;
}

.foot {
    font-size: smaller;
    text-align: center;
    background-color: #eee;
}

.flex {
    flex: 1;
}

.flex-grow {
    /* flex: 1; */
}

.row {
    display: flex;
    flex-direction: row;
}

.card {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
    padding: 0.8em;
    margin-bottom: 1em;
    border-radius: 0.3em;
}

.card > .title {
    padding-bottom: 0.3em;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.5em;
}

.shadow {
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.4);
}

button {
    margin: 0.3em;
}

button[disabled] {
    color: #666;
    background-color: #eee;
}

.warn {
    background-color: orangered;
    color: white;
    padding: 1em;
}

.primary {
    color: white;
    background-color: dodgerblue;
    border: 1px solid white;
}

.modal {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    left: calc(50% - 300px);
    top: calc(20%);
    background-color: white;

    /*border: 1px solid black;*/
}

div.video-modal {
    text-align: center;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    left: 0;
    flex-direction: column;
}

.video-modal > video {
    width: 75%;
}

.with-gradient {
    background-image: linear-gradient(0deg, transparent, #efefef, transparent);
}

li.no-list {
    display: inline-block;
    list-style: none;
    margin-left: 1em;
}

textarea.js-modal-text {
    resize: vertical;
}

table {
    border: 1px solid #eee;
}

td {
    border: 0.5px solid #eee;
}

.actions {
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 1px solid #dddddd;
}

.actions > button {
    font-size: medium;
    color: black;
    background-color: transparent;
    border-radius: 3px;
}

.switcher {
    padding: 0.3em;
}

.switcher > li {
    font-size: 20pt;
    display: inline-block;
    margin: 0.2em;
    padding: 0.3em;
    box-shadow: 0 0 1px 0 rgba(2, 2, 2, 0.2);
    width: 22pt;
    height: 22pt;
    text-align: center;
}
.switcher > li.active {
    /*background-color: #f5f5f5;*/
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(2, 2, 2, 0.6);
}

table {
    min-width: 100%;
    border-collapse: collapse;
}

th {
    color: white;
    background-color: #333;
    text-align: left;
    padding: 0.3em;
}

td {
    padding: 0.3em;
}